<article class="container" nz-typography>
  <h1 class="title" nz-typography>About this Project</h1>

  <p nz-typography>
    This simple application was made with
    <span nz-typography><a href="https://angular.io/">Angular</a></span> and
    <span nz-typography><a href="https://ng.ant.design/">NG Zorro,</a></span>
    consuming
    <span nz-typography><a href="https://api.nasa.gov/">NASA API</a></span>
    service to get the projects informations.
  </p>
  <p nz-typography>
    <span nz-typography><a routerLink="/projects">Here</a></span> we list
    projects an show details about it.
  </p>
</article>
