.container {
  min-height: 100vh;
}

nz-header {
  background: #fff;
  padding: 0;
}

nz-footer {
  text-align: center;
  background: #001529;
  color: rgba(255,255,255,.85);
  z-index: 2;
}
