.container {
  height: 100%;
}

.logo {
  width: auto;
  height: 35px;
  float: left;
  margin-right: 10px;
}

nz-footer {
  text-align: center;
  background: #001529;
  color: rgba(255,255,255,.85);
  z-index: 2;
}
