<div class="logo">
  <img
    nz-image
    nzDisablePreview
    width="auto"
    height="100%"
    [nzSrc]="src"
    [nzPlaceholder]="placeholder"
  />
</div>
<ul nz-menu nzTheme="dark" nzMode="horizontal">
  <li nz-menu-item nzMatchRouter>
    <a routerLink="/home" routerLinkActive="active" ariaCurrentWhenActive="page"
      >Home</a
    >
  </li>
  <li nz-menu-item nzMatchRouter>
    <a
      routerLink="/projects"
      routerLinkActive="active"
      ariaCurrentWhenActive="page"
      >Projects</a
    >
  </li>
  <li nz-menu-item nzMatchRouter>
    <a
      routerLink="/about"
      routerLinkActive="active"
      ariaCurrentWhenActive="page"
      >About</a
    >
  </li>
</ul>
