<div class="content">
  <div class="container-image">
    <img
      class="image"
      nz-image
      nzDisablePreview
      [nzSrc]="src"
      [nzPlaceholder]="placeholder"
    />

    <div class="container-title">
      <h1 class="title" nz-typography>Nasa Projects!</h1>

      <h3 class="title" nz-typography>
        Here we have a list of projects developed by NASA
      </h3>

      <a
        class="button"
        nz-button
        nzBlock
        nzSize="large"
        nzType="primary"
        routerLink="/projects"
        routerLinkActive="active"
        ariaCurrentWhenActive="page"
      >
        Take a Look!
      </a>
    </div>
  </div>
</div>
